/.bundle
/log/*
/tmp/*
/storage/*
/node_modules
/yarn-error.log
/public/assets
/.byebug_history
/config/master.key
/vendor/*
/.idea/*
/config/master-staging.key
/public/packs
/public/packs-test
/node_modules
/yarn-debug.log*
/.yarn-integrity
